
<h1>Reports Section</h1>
<p>Select a report to generate the respective detailed report.</p>
<ul>
    <li>
        <a asp-action="OccupancyReport">Generate Occupancy Report</a>
    </li>
    <li>
        <a asp-action="RatesReport">Generate Rates Report</a>
    </li>
    <li>
        <a asp-action="RevenueReport">Generate Revenue Report</a>
    </li>
    <li>
        <a asp-action="ServiceRevenueReport">Generate Service Revenue Report</a>
    </li>
</ul>
