@model SGRH.Web.Models.Hotel.Room.EditRoomModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room</h1>

<h4>Edit a room here!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type ="hidden" asp-for="roomId" />
            <div class="form-group">
                <label asp-for="roomNumber" class="control-label"></label>
                <input asp-for="roomNumber" class="form-control" />
                <span asp-validation-for="roomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                <input asp-for="categoryId" class="form-control" />
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="floorId" class="control-label"></label>
                <input asp-for="floorId" class="form-control" />
                <span asp-validation-for="floorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomImgUrl" class="control-label"></label>
                <input asp-for="roomImgUrl" class="form-control" />
                <span asp-validation-for="roomImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedBy" class="control-label"></label>
                <input asp-for="updatedBy" class="form-control" />
                <span asp-validation-for="updatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
